<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О компании</title>
    <link rel="stylesheet" href="/static/css/about.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
{% block content %}
  <header class="header">
    <script src="/static/scripts/nav.js"></script>
    <script>nav_main("about");</script>

    <div class="lang-contant parent-element">
    </div>
  </header>
  <div class="container">
    <p class="title">О компании</p>
    <div class="content">
      <div class="elements_discipline">
        <article>
            <p>В мире, где строительство небоскрёбов, жилых комплексов и инфраструктурных объектов идет полным ходом, важность надежного строительного контроля не может быть переоценена. <strong>СтройКонтроль</strong> - это компания, которая предоставляет полный спектр услуг по строительному контролю, обеспечивая безопасность и качество на каждом этапе строительства.</p>
            <p>С момента своего основания в 2021 году, <strong>СтройКонтроль</strong> быстро завоевала репутацию компании, предлагающей инновационные и надежные решения в области строительного контроля. Наша миссия - гарантировать, что каждый строительный проект соответствует всем необходимым стандартам и нормативам безопасности.</p>
            <h2>Услуги, которые мы предлагаем:</h2>
            <ul>
              <li><strong>Строительный контроль</strong> на объектах капитального строительства</li>
              <li><strong>Технический контроль за инженерными изысканиями</strong> </li>
              <li><strong>Дублирующий контроль</strong> лабораторий неразрушающего контроля и строительных лабораторий</li>
              <li><strong>Осуществление функций технического заказчика</strong> </li>
              <li><strong>Технический аудит</strong> незавершённого строительства</li>
            </ul>
            <h2>Почему выбирают нас?</h2>
            <ul>
              <li><strong>Опытные специалисты</strong>: Наша команда состоит из сертифицированных инженеров и экспертов с многолетним опытом.</li>
              <li><strong>Современные технологии</strong>: Мы используем передовое оборудование и программное обеспечение для точного мониторинга и анализа.</li>
              <li><strong>Индивидуальный подход</strong>: Каждый проект уникален, и мы разрабатываем специализированные решения, соответствующие конкретным потребностям клиента.</li>
              <li><strong>Прозрачность и отчетность</strong>: Мы предоставляем подробные отчеты и рекомендации, чтобы клиенты всегда были в курсе состояния своих проектов.</li>
            </ul>
            <p><strong>СтройКонтроль</strong> стремится к постоянному совершенствованию и инновациям в области строительного контроля, чтобы наши клиенты могли быть уверены в надежности и долговечности своих объектов. Доверьте нам контроль за вашим строительством, и мы обеспечим, что ваш проект будет реализован на высшем уровне.</p>
          </article>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/scripts/footer.js"></script>
{% endblock %}
</body>
</html>