<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Строительный контроль</title>
    <link rel="stylesheet" href="/static/css/about.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
{% block content %}
  <header class="header">
    <script src="/static/scripts/nav.js"></script>
    <script>nav_main("SK");</script>

    <div class="lang-contant parent-element">
    </div>
  </header>
  <div class="container">
    <p class="title">Cтроительный контроль</p>
    <div class="content">
      <div class="elements_discipline">
        <article>
          <p>Строительный контроль – это важный аспект в строительной отрасли, который обеспечивает соответствие строительства установленным стандартам и нормам. Согласно постановлению Правительства РФ № 468, строительный контроль включает в себя ряд мероприятий, направленных на проверку качества используемых материалов, соблюдение технологических процессов, а также соответствие выполненных работ проектной документации.</p>
          <h2>Основные задачи строительного контроля:</h2>
          <ul>
            <li>Проверка соответствия строительных и отделочных материалов заявленным характеристикам.</li>
            <li>Контроль за соблюдением строительных норм и правил на всех этапах строительства.</li>
            <li>Обеспечение безопасности труда на строительной площадке.</li>
            <li>Проведение необходимых испытаний и экспертиз.</li>
            <li>Ведение документации, фиксирующей ход и результаты контрольных мероприятий.</li>
          </ul>
          <p>Строительный контроль осуществляется как заказчиком, так и подрядчиком, а также специализированными контрольными органами. Это позволяет не только гарантировать качество строительства, но и предотвратить возможные нарушения, которые могут привести к негативным последствиям, включая аварии и обрушения.</p>
          <p>Постановление № 468 устанавливает чёткий регламент проведения строительного контроля, определяет ответственность участников строительного процесса и предусматривает меры по обеспечению прозрачности и открытости при проведении контрольных мероприятий. Это ключевой элемент обеспечения качества и безопасности в строительной отрасли Российской Федерации.</p>
        </article>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/scripts/footer.js"></script>
{% endblock %}
</body>
</html>